<div class="relative rounded-lg overflow-hidden shadow-lg transition-all duration-300 ease-linear hover:-translate-y-2" >
  <img class="w-full h-80 object-cover" [src]="img" [alt]="'Movie Poster ${title}'" style="filter: grayscale(0);">
  <div class="absolute bottom-0 w-full bg-gradient-to-t from-black to-transparent p-4">
    <h2 class="text-white text-lg font-semibold">{{ title }}</h2>
    <p class="text-gray-300">{{ score }} <i class="fa-solid fa-star text-yellow-500"></i></p>
    <button class="mt-2 bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded-md transition duration-300 ease-in-out" [routerLink]="[path + '/detail', id]">
      View details
    </button>
  </div>
</div>