<div
  class="relative h-screen w-full bg-[url('https://assets.nflxext.com/ffe/siteui/vlv3/a09bb938-2d90-42ae-986e-5a3e4abf9e77/9b87e294-cfb9-4197-94b8-4a829eb56375/PE-es-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg')] bg-no-repeat bg-center bg-fixed bg-cover">
  <div class="bg-black w-full h-full lg:bg-opacity-50">
    <nav class="px-12 py-5">
    </nav>
    <form [formGroup]="formLogin" class="flex justify-center" (ngSubmit)="sendLogin()">
      <div class="bg-black bg-opacity-70 px-16 py-16 self-center mt-2 lg:w-2/5 lg:max-w-md rounded-md w-full">
        <h2 class="text-white text-4xl mb-8 font-semibold">
          Sign in
        </h2>
        <div class="flex flex-col gap-4">
          <div class="relative">
            <label
              class="absolute text-md text-zinc-400 duration-150 transform -translate-y-3 scale-75 top-4 z-10 origin-[0] left-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3">Username or phone number</label>
            <input
              class="block rounded-md px-6 pt-6 pb-1 w-full text-md text-white bg-neutral-700 appearance-none focus:outline-none  focus:ring-0 peer invalid:border-b-1"
              type="email"
              formControlName="username" />
              <div *ngIf="username !== null && username.invalid && (username.dirty || username.touched)" class="text-red-500 text-sm mt-1">
                <div>{{ username.errors | formErrors }}</div>
              </div>
          </div>
          <div class="relative">
            <label
              class="absolute text-md text-zinc-400 duration-150 transform -translate-y-3 scale-75 top-4 z-10 origin-[0] left-6 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-3">Password</label>
            <input
              class="block rounded-md px-6 pt-6 pb-1 w-full text-md text-white bg-neutral-700 appearance-none focus:outline-none  focus:ring-0 peer invalid:border-b-1"
              type="password"
              formControlName="password" />
              <div *ngIf="password !== null && password.invalid && (password.dirty || password.touched)" class="text-red-500 text-sm mt-1">
                <div>{{ password.errors | formErrors }}</div>
              </div>
          </div>
        </div>
        <button class="bg-red-600 py-3 text-white rounded-md w-full mt-10 hover:bg-red-700 transition">
          Login
        </button>
        <div class="flex flex-row items-center gap-4 mt-8 justify-center">
          <div
            class="w-10 h-10 bg-white rounded-full flex items-center justify-center cursor-pointer hover:opacity-80 transition">
            <i class="fa-brands fa-facebook-f"></i>
          </div>
          <div
            class="w-10 h-10 bg-white rounded-full flex items-center justify-center cursor-pointer hover:opacity-80 transition">
            <i class="fa-brands fa-google"></i>
          </div>
        </div>
        <p class="text-neutral-500 mt-12">
          First time using Netflix?
          <span class="text-white ml-1 hover:underline cursor-pointer">
            Create an account.
          </span>
        </p>
      </div>
    </form>
  </div>
</div>